<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>회원 관리</title>
	<!--bulma css-->
	<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
  />
	<link rel="stylesheet" type="text/css" href="../../reset.css">
	<link rel="stylesheet" type="text/css" href="./orderlist.css">
</head>

<body>
	<header>
		<section class="upper-menu">
			<nav>
				<div class="logo">
					<a href="#"><img src="../resources/merge_cake_logo.png" alt="merge cake image"></a></a>
				</div>
				<div class="menu">
          <a href="/login">로그인</a>
          <a href="/orderlist">마이페이지</a>
          <a href="/cart">장바구니</a>
        </div>
			</nav>
		</section>
	</header>
	<h2>마이페이지</h2>
    <section class="main-menu">
        <nav>
            <div class="admin" id="userName">
            </div>
            <div class="menu">
                <a href="/orderlist">주문조회</a>
                <a href="/edit">정보수정</a>
            </div>
        </nav>
    </section>


		<section class="title-area">
            <h1>주문 내역</h1>
          </section>
          <section class="history-area">
            <table class="history" id="ordersContainer">
              <tr class="header-cell">
                <th>주문일자</th>
                <th>상품정보</th>
                <th>주문금액</th>
                <th>배송상태</th>
                <th>주문관리</th>
              </tr>
            </table>
          </section>
      
          <!-- 주문을 정말 취소할 지 묻는 Modal 창 -->
            <div id="modal" class="modal">
              <div class="modal-background" id="modalBackground"></div>
                <div class="modal-content">
                    <div class="box">
                      <p class="mb-3">
                        주문 취소 시 복구할 수 없습니다. 정말로 취소하시겠습니까?
                      </p>
                      <div class="buttons">
                        <button
                          class="button mt-5"
                          id="deleteCompleteButton"
                          aria-label="close"
                        >
                          네
                        </button>
                        <button
                          class="button cancle mt-5"
                          id="deleteCancelButton"
                          aria-label="close"
                        >
                          아니오
                        </button>
                      </div>
                    </div>
                  </div>
                  <button
                    class="modal-close is-large"
                    id="modalCloseButton"
                    aria-label="close"
                  ></button>
              </div>
          </main>
          <footer>
            <address>
              <div>
                <ul class="area">
                  <li>브랜드 소개</li>
                  <li>창업 안내</li>
                  <li>채용</li>
                  <li>개인정보 처리방침</li>
                </ul>
                <ul class="area second">
                  <li>Contact Us</li>
                  <li>고객센터 000-1234-5678</li>
                  <li>서울특별시 성동구 성수동2가 280</li>
                </ul>
              </div>
              <div class="logo">
                <img src="../../resources/merge cake logo.png" alt="Merge cake 로고">
              </div>
            </address>
          </footer>
          <script type="module" src="./orderlist.js"></script>
      <footer>
      <address>
        <div>
          <ul class="area">
            <li>브랜드 소개</li>
            <li>창업 안내</li>
            <li>채용</li>
            <li>개인정보 처리방침</li>
          </ul>
          <ul class="area second">
            <li>Contact Us</li>
            <li>고객센터 000-1234-5678</li>
            <li>서울특별시 성동구 성수동2가 280</li>
          </ul>
        </div>
        <div class="logo">
          <img src="../../resources/merge cake logo.png" alt="Merge cake 로고">
        </div>
      </address>
    </footer>
      </body>
      
      </html>