<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>회원 관리</title>
	<!--bulma css-->
	<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
  />
	<link rel="stylesheet" type="text/css" href="../../reset.css">
	<link rel="stylesheet" type="text/css" href="./orderlist.css">
</head>

<body>
	<header></header>
    <section class="main-menu">
        <nav>
            <div class="admin" id="userName">
            </div>
            <div class="menu">
                <a href="/orderlist">주문조회</a>
                <a href="/edit">정보수정</a>
            </div>
        </nav>
    </section>


		<section class="title-area">
            <h1>주문 내역</h1>
          </section>
          <section class="history-area">
            <table class="history" id="ordersContainer">
              <tr class="header-cell">
                <th>주문일자</th>
                <th>상품정보</th>
                <th>주문금액</th>
                <th>배송상태</th>
                <th>주문관리</th>
              </tr>
            </table>
          </section>
      
          <!-- 주문을 정말 취소할 지 묻는 Modal 창 -->
            <div id="modal" class="modal">
              <div class="modal-background" id="modalBackground"></div>
                <div class="modal-content">
                    <div class="box">
                      <p class="mb-3">
                        주문 취소 시 복구할 수 없습니다. 정말로 취소하시겠습니까?
                      </p>
                      <div class="buttons">
                        <button
                          class="button mt-5"
                          id="deleteCompleteButton"
                          aria-label="close"
                        >
                          네
                        </button>
                        <button
                          class="button cancle mt-5"
                          id="deleteCancelButton"
                          aria-label="close"
                        >
                          아니오
                        </button>
                      </div>
                    </div>
                  </div>
                  <button
                    class="modal-close is-large"
                    id="modalCloseButton"
                    aria-label="close"
                  ></button>
              </div>
          </main>
          <footer></footer>
          <script type="module" src="./orderlist.js"></script>
      </body>
      
      </html>