<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="product.css" />

    <title>케이크 만들기</title>
</head>
<body>
  <header>
    <section class="upper-menu">
      <nav>
        <div class="logo">
          <a href="#"><img src="../../resources/merge cake.png" alt="merge cake image"></a>
        </div>
        <div class="menu">
          <a href="#">로그인</a>
          <a href="#">마이페이지</a>
          <a href="../cart/cart.html">장바구니</a>
        </div>
      </nav>
    </section>
    <section class="page-name">
      <h1>그림 넣을 것</h1>
    </section>
    <section class="main-menu">
      <!-- <nav>
        <div class="admin">
          관리자님
        </div>
        <div class="menu">
          <a href="#">주문확인</a>
          <a href="#">회원관리</a>
          <a href="#">카테고리관리</a>
          <a href="#">상품관리</a>
        </div>
      </nav> -->
    </section>
  </header>

  <section class="product-container">
   
    <div class ="product-info-wrap">
      <div class="product-img">
         <img src="./assets/logo.png"  width="90%" />
      </div>
      <p class="product-price" id="productPrice">가격: </p>
      <p class="product-price" id="productPrice">18,000원</p>
      <div class="product-info">
        <div class="info-tit">
          <p>상세정보</p>
          <div class="info-arrow-wrap">
            <span class="info-arrow-top">↑</span>
            <span class="info-arrow-bottom">↓</span>
          </div><!--이후 svg로 대체-->
        </div>
        <div class="info-text">
          <p>칼로리</p>
          <p>원재료</p>
          <p>중량(g)</p>
        </div>
      </div>
    </div>

    <!--케이크 상세-->

    <div id="opt-container" class="product-opt-wrap">
      
      <!-- <div id="opt-0" class="select">
        <h2 class="title">디자인</h2>
        <div id="1" class="content">
          <p class="optionName">모양 선택</p>
          <ul class="list">
            <li>
              <label class="label" for="모양 : 케익시트모양_라운드">
                <input name="모양" type="radio" id="모양 : 케익시트모양_라운드" value="">
                  <div class="option">
                    <img src="assets/round.png" alt="디자인,모양 선택,케익시트모양 라운드" />
                  </div>
              </label>
            </li>
            <li>
              <label class="label" for="모양 : 케익시트모양_사각">
                <input name="모양" type="radio" id="모양 : 케익시트모양_사각" value="">
                  <div class="option">
                  <img src="assets/squre.png" alt="디자인,모양 선택,케익시트모양 사각" />
                </div>
              </label>
            </li>
            <li>
              <label class="label" for="모양 : 케익시트모양 하트">
                <input name="모양" type="radio" id="모양 : 케익시트모양_하트" value="">
                  <div class="option">
                  <img src="assets/heart.png" alt="디자인, 모양 선택, 케익시트모양 하트" />
                </div>
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div id="opt-1" class="select">
        <h2 class="title">시트</h2>
        <div id="0" class="content">
          <p class="optionName">시트 선택</p>
          <ul class="list">
            <li>
              <label class="label" for="시트 선택 : 초코">
                <input name="시트 선택" type="radio" id="시트 선택 : 초코" value="">
                <div class="option">
                  <span class="시트,시트 선택,초코" >초코</span>
                </div>
              </label>
            </li>
            <li>
              <label class="label" for="시트 선택 : 딸기">
                <input name="시트 선택" type="radio" id="시트 선택 : 딸기" value="">
                <div class="option">
                  <span>딸기</span>
                </div>
              </label>
            </li>
            <li>
              <label class="label" for="시트 선택 : 생크림">
                <input name="시트 선택" type="radio" id="시트 선택 : 생크림" value="">
                <div class="option">
                  <span>생크림</span>
                </div>
              </label>
            </li>
            <li>
              <label class="label" for="시트 선택 : 얼그레이">
                <input name="시트 선택" type="radio" id="시트 선택 : 얼그레이" value="">
                <div class="option">
                  <span>얼그레이</span>
                </div>
              </label>
            </li>
          </ul>
        </div>

        <div id="1" class="content">
          
          <p class="optionName">크림 선택</p>
          <ul class="list">
            <li>
              <label class="label" for="크림 선택 : 빨간색">
                <input name="크림 선택" type="radio" id="크림 선택 : 빨간색" value="">
                <div class="option">
                  <span class="시트,크림 선택,빨간색">빨간색</span>
                </div>
            </li>
            <li>
              <label class="label" for="크림 선택 : 파란색">
                <input name="크림 선택" type="radio" id="크림 선택 : 파란색" value="">
                <div class="option">
                  <span>파란색</span>
                </div>
            </li>
            <li>
              <label class="label" for="크림 선택 : 노란색">
                <input name="크림 선택" type="radio" id="크림 선택 : 노란색" value="">
                <div class="option">
                  <span>노란색</span>
                </div>
            </li>
            <li>
              <label class="label" for="크림 선택 : 초록색">
                <input name="크림 선택" type="radio" id="크림 선택 : 초록색" value="">
                <div class="option">
                  <span>초록색</span>
                </div>
            </li>
          </ul>
        </div>
      </div>     -->

      <!--
      <div id="opt-2" class="select">
        <h2 class="title">사이즈</h2>
        <div id="0" class="content">
          <p class="optionName">크기 선택</p>
          <ul class="list">
            <li>
              <label class="label" for="크기 선택 : 미니">
                <input name="크기 선택" type="radio" id="크기 선택 : 미니" value="">
                <div class="option">
                    <span class="사이즈,크기 선택,미니">미니</span>
                </div>
              </label>
            </li>
            <li>
              <label class="label" for="크기 선택 : 1호">
                <input name="크기 선택" type="radio" id="크기 선택 : 1호" value="">
                <div class="option">
                    <span>1호</span>
                </div>
              </label>
            </li>
            <li>
              <label class="label" for="크기 선택 : 2호">
                <input name="크기 선택" type="radio" id="크기 선택 : 2호" value="">
                <div class="option">
                    <span>2호</span>
                </div>
              </label>
            </li>
            <li>
              <label class="label" for="크기 선택 : 3호">
                <input name="크기 선택" type="radio" id="크기 선택 : 3호" value="">
                <div class="option">
                    <span>3호</span>
                </div>
              </label>
            </li>
          </ul>
        </div>
      </div>

      <div id="opt-3" class="inputString">
        <h2 class="title">레터링</h2>
        <div id="0" class="content">
          <p class="optionName">문구 입력</p>
          <input type="text" class="문구입력" name="cake-lettering" placeholder="문구를 입력 해 주세요" id="sl" value="" >
        </div>
        <div id="1" class="content">
          <p class="optionName">레터링 색상</p>
          <ul class="list">
            <li>
              <label class="label" for="레터링 색상 : 빨간색">
                <input name="문구 입력" type="radio" id="레터링 색상 : 빨간색" value="">
                <div class="option">
                  <span class="레터링,레터링 색상,빨간색">빨간색</span>
                </div>
            </li>
            <li>
              <label class="label" for="레터링 색상 : 파란색">
                <input name="문구 입력" type="radio" id="레터링 색상 : 파란색" value="">
                <div class="option">
                  <span>파란색</span>
                </div>
            </li>
            <li>
              <label class="label" for="레터링 색상 : 노란색">
                <input name="문구 입력" type="radio" id="레터링 색상 : 노란색" value="">
                <div class="option">
                  <span>노란색</span>
                </div>
            </li>
            <li>
              <label class="label" for="레터링 색상 : 초록색">
                <input name="문구 입력" type="radio" id="레터링 색상 : 초록색" value="">
                <div class="option">
                  <span>초록색</span>
                </div>
            </li>
          </ul>
        </div>
      </div>

      <div id="opt-4" class="select">
        <h2 class="title">토핑</h2>
        <div id="0" class="content">
          <p class="optionName">과일</p>
          <ul class="list">
            <li>
              <label class="label" for="과일 : 딸기">
                <input name="과일" type="radio" id="과일 : 딸기" value="">
                  <div class="option">
                  <img src="assets/strawberry.png" alt="토핑,과일,딸기" />
                </div>
              </label>
            </li>
            <li>
              <label class="label" for="과일 : 체리">
                <input name="과일" type="radio" id="과일 : 체리" value="">
                  <div class="option">
                  <img src="assets/cherry.png" alt="체리" />
                </div>
              </label>
            </li>
            <li>
              <label class="label" for="과일 : 키위">
                <input name="과일" type="radio" id="과일 : 키위" value="">
                  <div class="option">
                  <img src="assets/kiwi.png" alt="키위" />
                </div>
              </label>
            </li>
          <ul>
        </div>
        <div id="1" class="content">
          <p class="optionName">크림 디자인</p>
          <ul class="list">
            <li>
              <label class="label" for="크림 디자인 : 크림모양1">
                <input name="크림 디자인" type="radio" id="크림 디자인 : 크림모양1" value="">
                <div class="option">
                  <img src="assets/cream01.png" alt="토핑,크림 디자인,크림모양1" />
                </div>
              </label>
            </li>
            <li>
              <label class="label" for="크림 디자인 : 크림모양2">
                <input name="크림 디자인" type="radio" id="크림 디자인 : 크림모양2" value="">
                <div class="option">
                  <img src="assets/cream02.png" alt="크림모양2" />
                </div>
              </label>
            </li>
            <li>
              <label class="label" for="크림 디자인 : 크림모양3">
                <input name="크림 디자인" type="radio" id="크림 디자인 : 크림모양3" value="">
                <div class="option">
                  <img src="assets/cream03.png" alt="크림모양3" />
                </div>
              </label>
            </li>
          <ul>
        </div>
        <div id="2" class="content">
          <p class="optionName">크림색상</p>
          <ul class="list">
            <li>
              <label class="label" for="크림색상 : 파란색">
                <input name="크림색상" type="radio" id="크림색상 : 파란색" value="">
                <div class="option">
                  <span class="크림 디자인,크림 색상,파란색">파란색</span>
                </div>
            </li>
            <li>
              <label class="label" for="크림색상 : 빨간색">
                <input name="크림색상" type="radio" id="크림색상 : 빨간색" value="">
                <div class="option">
                  <span>빨간색</span>
                </div>
            </li>
            <li>
              <label class="label" for="크림색상 : 노란색">
                <input name="크림색상" type="radio" id="크림색상 : 노란색" value="">
                <div class="option">
                  <span>노란색</span>
                </div>
            </li>
            <li>
              <label class="label" for="크림색상 : 초록색">
                <input name="크림색상" type="radio" id="크림색상 : 초록색" value="">
                <div class="option">
                  <span>초록색</span>
                </div>
            </li>
          </ul>
        </div>
      </div>          -->
      <div class="product-opt-button">
        <button class="prev">이전</button>
        <button class="next">다음</button>    
      </div>     
    </div>    
  </section>

  <section class="submit-area">
    <div class="button-container">
      <button id="basketSubmit">장바구니 담기</button>
      <button id="orderSubmit">바로 결제하기</button>
    </div>
  </section>

	<footer>
		<article>
			<address>
				<div>
					<div class="area">
						<h1>Info</h1>
						<p>브랜드 소개</p>
						<p>창업 안내</p>
						<p>채용</p>
					</div>
				</div>
				<div>
					<div class="area">
						<h1>Contact Us</h1>
						<p>고객센터</p>
						<p>000-1234-5678</p>
						<p>서울특별시 성동구 성수동2가 280</p>
					</div>
				</div>
				<div class="logo">
					<img src="../../resources/merge cake logo.png" alt="Merge cake 로고">
				</div>
			</address>
		</article>
	</footer>

    <script defer type="module" src="LocalStorage.js"></script> 
    <script defer type="module" src="product.js"></script>
    <script defer type="module" src="makeItems.js"></script>
</body>
</html>