<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="product.css" />

    <title>케이크 만들기</title>
</head>
<body>
  <header>
    <section class="upper-menu">
      <nav>
        <div class="logo">
          <a href="#"><img src="../../resources/merge cake.png" alt="merge cake image"></a>
        </div>
        <div class="menu">
          <a href="/login">로그인</a>
          <a href="/orderlist">마이페이지</a>
          <a href="/cart">장바구니</a>
        </div>
      </nav>
    </section>
    <section class="page-name">
      <h1>그림 넣을 것</h1>
    </section>
    <section class="main-menu">
      <!-- <nav>
        <div class="admin">
          관리자님
        </div>
        <div class="menu">
          <a href="#">주문확인</a>
          <a href="#">회원관리</a>
          <a href="#">카테고리관리</a>
          <a href="#">상품관리</a>
        </div>
      </nav> -->
    </section>
  </header>

  <section class="product-container">
   
    <div class ="product-info-wrap">
      <div class="product-img">
         <img src="./assets/logo.png"  width="90%" />
      </div>
      <p class="product-price" id="productPrice">가격: </p>
      <p class="product-price" id="productPrice">18,000원</p>
      <div class="product-info">
        <div class="info-tit">
          <p>상세정보</p>
          <div class="info-arrow-wrap">
            <span class="info-arrow-top">↑</span>
            <span class="info-arrow-bottom">↓</span>
          </div><!--이후 svg로 대체-->
        </div>
        <div class="info-text">
          <p>칼로리</p>
          <p>원재료</p>
          <p>중량(g)</p>
        </div>
      </div>
    </div>

    <!--케이크 상세-->

    <div id="opt-container" class="product-opt-wrap">
      
 
      <div class="product-opt-button">
        <button class="prev">이전</button>
        <button class="next">다음</button>    
      </div>
    </div>  
  </section>

  <section class="submit-area">
    <div class="button-container">
      <button id="basketSubmit">장바구니 담기</button>
      <button id="orderSubmit">바로 결제하기</button>
    </div>
  </section>

	<footer>
		<article>
			<address>
				<div>
					<div class="area">
						<h1>Info</h1>
						<p>브랜드 소개</p>
						<p>창업 안내</p>
						<p>채용</p>
					</div>
				</div>
				<div>
					<div class="area">
						<h1>Contact Us</h1>
						<p>고객센터</p>
						<p>000-1234-5678</p>
						<p>서울특별시 성동구 성수동2가 280</p>
					</div>
				</div>
				<div class="logo">
					<img src="../../resources/merge cake logo.png" alt="Merge cake 로고">
				</div>
			</address>
		</article>
	</footer>

  <script defer type="module" src="displayOptions.js"></script>
  <script defer type="module" src="LocalStorage.js"></script>
  <!-- <script defer type="module" src="product.js"></script> -->

</body>
</html>