<html>

<head>
</head>

<body>
    <div class="wrap">
				<p class="info_text">💡 회원가입 인증 코드</p>
        <div class="info_code">
            <%= certificationCode %>
        </div>
    </div>
</body>

</html>