* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* header */
header {
  height: 300px;
}

h2 {
  text-align: center;
}

/* user-container */
.user-container {
  height: 180px;
  background-color: #f4f6f7b1;
  padding: 0 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.user-name {
  flex-grow: 1;
  font-size: 30px;
}

.user-info {
  font-size: 15px;
}

/* info-table */
.info-container {
  margin: 100px 200px;
  font-size: 15px;
}

.info-list {
  width: 100%;
  margin-top: 50px;
  border: none;
}

caption {
  text-align: left;
  padding: 8px 0 6px 15px;
}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid #f4f6f7;
}

th {
  background-color: #f6f9fa;
  text-align: left;

  padding: 12px 0 10px 14px;
}

td {
  padding: 8px 0 6px 15px;
}

/* edit button */
.edit-btn {
  display: inline-block;
  cursor: pointer;
  padding: 0 10px;
  border: 1px solid #d7dbdc;
  background-color: #fff;
  line-height: 24px;
  font-size: 11px;
  color: #646465;

  margin-left: 8px;
}

/* 모달창 */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: none;

  background-color: rgba(0, 0, 0, 0.4);

  z-index: 3;
}

.show {
  display: block;
}

.modal-wrap {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 400px;
  height: 300px;

  text-align: center;
  font-size: 25px;

  background-color: #ffffff;
  border-radius: 10px;

  transform: translateX(-50%) translateY(-50%);
}

.modal-content {
  padding-top: 120px;
}

.btn {
  margin-top: 90px;
  margin-left: 250px;
}

.close-btn {
  width: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  background-color: #9d9d9d;
  color: #ffffff;
  padding: 10px 0;
}

.ok-btn {
  width: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  background-color: #000000;
  color: #ffffff;
  padding: 10px 0;
}

.ok-btn:hover {
  background-color: hsl(272, 50%, 34%);
}

/* 취소, 확인 버튼 */
#name,
#phone-number,
#address {
  /* background-color: red; */
  display: none;
}
.button-container {
  /* background-color: red; */
  display: none;
}
