@import "../components/header.css";

.title{
  text-align: center;
  margin-top: 150px;
}
/* .logo {
  position: relative;
} */

.logo img {
  width: 15%;
}

h2 {
  margin-top: 20px;
  position: relative;
}

/* form-container */
.form-container {
  width: 460px;
  background-color: hsl(271, 74%, 85%);
  border-radius: 5px;

  padding: 20px;
  margin: 50px auto 10px auto;
}

/* login-container */
.input {
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;

  font-weight: 400;
  line-height: 30px;
  padding: 10px 10px;
}

input:focus {
  border: solid 1px hsl(272, 99%, 36%);
  outline: none;
}

/* submitButton */
.submit-button {
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  background-color: #000000;
  color: #ffffff;
  margin-top: 10px;
  padding: 15px 0;
}

.submit-button:hover {
  background-color: hsl(272, 50%, 34%);
}

/* 아이디 찾기, 비밀번호 찾기, 회원가입 */
.account-container {
  padding: 35px 10px 0 10px;
}

li {
  display: inline-block;
}

li + li::before {
  content: "|";
  margin: 0 8px;
}

/* 비밀번호 찾기 */
#user-email,
.send-button {
  display: none;
}
