<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./login.css" />
    <script src="./login.js" type="module"></script>

    <title>로그인</title>
  </head>
  <body>
    <header></header>

    <h2>로그인</h2>

    <form class="form-container">
      <div class="login-container">
        <input
          type="text"
          placeholder="이메일"
          id="email-input"
          class="input"
        />
        <input
          type="password"
          placeholder="비밀번호"
          id="password-input"
          class="input"
        />
      </div>
      <button class="submit-button">로그인</button>

      <div class="account-container">
        <a href="../register/register.html" style="text-align: left"
          >회원가입</a
        >
        <!-- 비밀번호 찾기 추가 구현하기 -->
        <!-- <p style="float: right" class="find-password">비밀번호 찾기</p> -->
        <!-- <label style="float: right" for="user-email" class="find-password" -->
        <label style="float: right" for="user-email" class="find-password"
          >비밀번호 찾기</label
        >
        <input type="text" id="user-email" />
        <button class="send-button">이메일 전송</button>
      </div>
    </form>

    <!-- div -->
    <!-- <p class="coupon-info">* 가입하면 3,000원 쿠폰을 드려요 *</p> -->
  </body>
</html>
