@import "../components/header.css";
@import "../components/footer.css";



/* main menu */
.main-menu {
    width: 95%;
    background : hsl(175deg 32% 43%);
    display : flex;
    align-items: center;
    padding: 70px 50px 40px 50px;
    margin: 0 auto;
    border-radius: 20px;
    color:#fff
}

.main-menu > nav {
    width : 100%;
    display : flex;
    justify-content : space-between;
}

.main-menu nav a {
    margin-left : 20px;
    color:#fff
}

.main-menu .menu{
    display : flex;
    align-items: center;
}

.admin {
    font-size : 30px;
}

.title-area h1 {
    font-size: 20px;
    padding : 70px;
    text-align: center;
}

/* table */

.search-area {
    height : auto;
    display : flex;
    justify-content: center;
}

.search {
    width : 80%;
    height : 100px;
    text-align: center;
}

.search .search-input {
    border : 0;
    text-align: center;
    margin : 0;
    width : 80%;
}

.search .right {
    display : flex;
}

.search .search-input, .submit {
    padding : 0;
}

.search .search-input {
    width : 90%;
}

.search .submit {
    width : 10%;
}

.search select {
    border : 0;
    text-align : center;
    width:100%;
}

.search .calendar {
    border : 0;
    text-align : center;
    width : 100%;
}

.search td {
    height : 40px;
}

.search td {
    margin : 10px;
}

.history-area {
    display : flex;
    justify-content: center;
    margin-bottom:150px;
}

.history {
    width : 80%;
    text-align: center;
    vertical-align: center;
}

.header-cell{
    background: #f3f3f3;
    padding : 15px;
}

.history th {
    padding : 15px;
    font-weight: 600;
}

.history tr {
    border-bottom: 1px solid #f3f3f3;
}

.history td {
    vertical-align: middle;
    padding:20px 0px;
}

.history .product-info {
    display : flex;
    flex-direction: column;
    align-items: center;
}

.cancle-button {
    padding: 5px 10px;
    background-color: hsl(271, 74%, 85%);
    color: #000;
    border:none;
    border-radius: 5px;
}

.cancle-button:hover {
    background-color: #000;
    color:#fff;
    transition: all 1s;
}

.waybill-input {
    border-radius: 5px;
    border: 1px solid #f3f3f3;
    margin: 8px 0px;
}

.state {
    border-bottom: 1px solid #f3f3f3;
    border-radius: 5px;
    width: 155px;
}

.modal .box {
    text-align: center;
}
.modal .buttons {
    justify-content: center;
}
.cancle {
    background-color: hsl(271, 74%, 85%);
}

footer address .area li::after {
    top: 3px;
}

.area.second li::after {
    top: 1px;
}
  