<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>주문 관리</title>
  <!--bulma css-->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
  />
	<!--local css-->
  <link rel="stylesheet" type="text/css" href="../../reset.css">
  <link rel="stylesheet" type="text/css" href="./admin-orders.css">
</head>

<body>
  <header>
	<section class="upper-menu">
		<div class="logo">
		  <a href="#"><img src="../resources/merge_cake_logo.png" alt="merge cake image"></a>
		</div>
		<nav>
			<div class="menu">
			<a href="#">로그인</a>
			<a href="#">마이페이지</a>
			<a href="#">장바구니</a>
			</div>
	  	</nav>
	</section>
  </header>
  <main>
	<section class="main-menu">
	  <nav>
		<div class="admin">관리자님</div>
		<div class="menu">
		  <a href="#">주문관리</a>
		  <a href="#">회원관리</a>
		  <a href="#">카테고리관리</a>
		  <a href="#">상품관리</a>
		</div>
	  </nav>
	</section>
	<section class="title-area">
	  <h1>주문 관리</h1>
	</section>
	<section class="history-area">
	  <table class="history" id="ordersContainer">
	    <tr class="header-cell">
		  <th>주문일자</th>
		  <th>주문자</th>
		  <th>상품정보</th>
		  <th>주문금액</th>
		  <th>배송상태</th>
		  <th>주문관리</th>
		</tr>
	  </table>
	</section>

	<!-- 주문을 정말 취소할 지 묻는 Modal 창 -->
	  <div id="modal" class="modal">
	    <div class="modal-background" id="modalBackground"></div>
		  <div class="modal-content">
			  <div class="box">
			    <p class="mb-3">
				  주문 취소 시 복구할 수 없습니다. 정말로 취소하시겠습니까?
				</p>
				<div class="buttons">
				  <button
					class="button mt-5"
					id="deleteCompleteButton"
					aria-label="close"
				  >
					네
				  </button>
				  <button
					class="button is-primary mt-5"
					id="deleteCancelButton"
					aria-label="close"
				  >
					아니오
				  </button>
				</div>
			  </div>
			</div>
			<button
			  class="modal-close is-large"
			  id="modalCloseButton"
			  aria-label="close"
			></button>
		</div>
	</main>
	<footer>
		<article>
			<address>
				<div>
					<div class="area">
						<h1>Info</h1>
						<p>브랜드 소개</p>
						<p>창업 안내</p>
						<p>채용</p>
					</div>
				</div>
				<div>
					<div class="area">
						<h1>Contact Us</h1>
						<p>고객센터</p>
						<p>000-1234-5678</p>
						<p>서울특별시 성동구 성수동2가 280</p>
					</div>
				</div>
				<div class="logo">
					<img src="../../resources/merge cake logo.png" alt="Merge cake 로고">
				</div>
			</address>
		</article>
	</footer>

	<script type="module" src="./admin-orders.js"></script>

</body>

</html>